/* GENERALES */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: inherit;
	font-family: 'Open Sans', sans-serif;
}

#render{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-color: red;
}

header {
	color: #fff;
}

header a {
	color: #fff;
	text-decoration: none;
}

.logo-menu {
	background: #00171f;
}

.logo-menu h2 {
	font-weight: 300;
	font-size: 30px;
}

.logo-menu .menu a {
	display: inline-block;
	padding: 40px 20px;
}

.logo-menu .menu a:hover {
	border-bottom: 4px solid #ff9f1c;
	padding-bottom: 36px;
}

.submenu {
	background: #003459;
}

.submenu nav a {
	padding: 26px 20px;
	display: inline-block;
}

.submenu nav a:hover {
	text-decoration: underline;
}

/* MAIN */
.main {
	margin: 40px 0;
}

.main .thumb {
	margin-bottom: 20px;
}

.main .thumb img {
	width: 100%;
	vertical-align: top;
}

/* FOOTER */
footer {
	background: #00171f;
	color:#fff;
	padding: 40px 0;
}

footer .nav a {
	width: 100%;
	display: block;
	padding: 20px;
	color:#fff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

footer .nav a:hover {
	text-decoration: underline;
}

footer .logo {
	background: #003459;
	color:#fff;
	padding: 25px;
	font-weight: 300;
	border-radius: 0 30px 0 30px;
	font-size: 30px;
	text-align: center;
}