/* GENERALES */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: inherit;
	font-family: 'Open Sans', sans-serif;
}

.card {
    background-color: rgb(194, 191, 191);
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;

}

#render{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-color: red;
}

header {
	color: #fff;
}

header a {
	color: #fff;
	text-decoration: none;
}

.logo-menu {
	background: #00171f;
}

.logo {
	width: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	
}


.logo-menu .menu a {
	display: inline-block;
	padding: 40px 20px;
}

.logo-menu .menu a:hover {
	border-bottom: 4px solid #ff9f1c;
	padding-bottom: 36px;
}

.submenu {
	background: #003459;
}

.submenu nav a {
	padding: 26px 20px;
	display: inline-block;
}

.submenu nav a:hover {
	text-decoration: underline;
}

/* MAIN */


